<!-- <html>
    <head>
        <title> FLASK APP</title>
    </head>
    <body> 
        <h1>This is Our Flask App</h1>
        <p> Welcome to Flask Tutorial</p>
        <p>join our --</p>
        
        {% for i in content %}
        <p>{{ i }}</p>
        
        {% if i == "OC" %}
        <p>Free Course For All</p>
        {% endif %}
        {% endfor %}

    </body>

    </html> -->

<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <h1> Welcome To Home Page</h1>
        <p> Nice To See You</p>
    </body>
</html>

