<!-- <html>
    <head>
        <title> flask applicatoin</title>
    </head>
    <body>
        <h1>THIS IS OUR INDEX APP</h1>
        <p> Welcome to Flask Tutorial</p>s
    </body>
</html> -->

<html>
    <head>
        <title>login Page</title>
    </head>
    <body>
        <h1> Welcome To login Page</h1>
        <p>Enter Your Name</p>
        <form action="#" method="POST">
            <input type = "text", name ="user name"/>
            <input type="submit", value="submit"/>
        </form>
    </body>
</html>
